*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    text-align: center;
    padding: 80px;
    color: white;
    background: url("https://static.videezy.com/system/resources/thumbnails/000/042/456/original/Sky-night-rotation-space-background.jpg");
}
.header h1{
    font-size: 40px;
}
.navbar{
    background-color: black;
    overflow: hidden;  
}
.navbar a{
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: white;
    color: black;
}
.navbar a.right{
    float: right;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}
.div-um{
    -ms-flex: 30%;
    flex: 30%;
    background-color: gainsboro;
    padding: 20px;
}
.div-dois{
    -ms-flex: 70%;
    flex: 70%;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: rebeccapurple;
}
.image{
    background-color: rebeccapurple;
    padding: 20px;
    width: 100%;
    
}
label{
    display: inline-block;
    width: 200px;
    text-align: right;
}
.nome{
    width: 500px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    margin-bottom: 5px;
}
.email{
    width: 500px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    margin-bottom: 5px;
}
.telefone{
    width: 200px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    margin-bottom: 5px;
}
.tipoatendimento{
    width: 200px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    margin-bottom: 5px;
}
.informacoes{
    margin-bottom: 10px;
    margin-top: 5px;
}
.mensagem{
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
    margin-bottom: 5px;
}
.btn{
    margin-left: 204px;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid purple;
    border-radius: 3px;
}
.btn:hover{
    background-color: white;
    color: rebeccapurple;
}
.perfil{
    width: 300px;
}

@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }

    .navbar a{
        float: none;
        width: 100%;
    }
}
